/* common styles */

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

} */

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 140px 10px 140px;
}

ul {
    display: flex;
    gap: 44px;
    align-items: center;
}

.nav-tittle {
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.yellow {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;

}

.yellow-second {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.link {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* header section */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    border-radius: 16px;
}

.banner-writing {
    text-align: center;
    padding: 106px 285px 0 185px;
}

.banner-tittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.banner-description {
    color: #FFF;

}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 70px;
    padding: 10px 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.btn {
    /* border: 1px solid white; */
    border-radius: 8px;
    background: #FFF;
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.btn-special {
    border-radius: 8px;
    background: #FF5400;
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-special-p {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    
}